.contacts
    .inner
        a(href='https://addons.mozilla.org/en-US/firefox/addon/break-the-bubble/', target='_blank', title='Github')
            img(src='./images/logos/firefox.png')
        a(href='https://chrome.google.com/webstore/detail/break-the-bubble/gemkooodelmoddcbmemaaafpocfeiegp', target='_blank', title='Facebook')
            img(src='./images/logos/chrome.png')